body{
    background-color: rgb(141, 100, 141);
    background-image: url(gambar2.jpeg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    margin-top: 40px;
}
.wrap{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: comic sans ms;
    background.color: #c71585
}
.container{
    padding: 5px;
}
table{
    margin: auto;
}
table td{
    padding: 5px;
}
